
<html>

    <head>
        <title>Validation Formulaire</title>
        <link rel="stylesheet" href="~/resources/Index.css" />
    </head>

    <body>

        <header>
            <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
            <h1>Formulaire TP HN avis</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/Home">Accueil</a></li>
                <li><a href="/Home/Index/OpinionList">Liste avis</a></li>
            </ul>
        </nav>

        <section>

            <p>Votre formulaire a bien été pris en compte</p>

        
                <table>
                    <caption>Informations personelles</caption>
                    <tr>
                        <td>Nom</td>
                        <td>FormMo</td>

                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td><input type="text" name="FirstName" value="" required /></td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td>
                            <select name="Genre" required>
                                <option value="">Sélectionner un genre</option>
                                <option value="homme">Homme</option>
                                <option value="femme">Femme</option>
                                <option value="autre">Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td><input type="text" name="Adresse" value="" required /></td>
                    </tr>
                    <tr>
                        <td>Code postal</td>
                        <td>
                            <input type="text" name="Postal" value=""
                                   minlength="5" maxlength="5" required />
                        </td>

                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td><input type="text" name="Ville" value="" required /></td>
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        <td><input type="text" name="Mail" value="" required /></td>

                    </tr>

                </table>



                <table>
                    <caption>Informations formation suivie</caption>
                    <tr>
                        <td>Date début formation</td>
                        <td>
                            <input type="date"
                                   id="StartDate"
                                   name="class-start"
                                   max="2021-01-01" />
                        </td>

                    </tr>
                    <tr>
                        <td>Formation suivie</td>
                        <td>
                            <select name="Formation">
                                <option value="">Sélectionner un cours</option>
                                <option value="cobol">Formation Cobol</option>
                                <option value="objet">Formation par objet</option>
                                <option value="double">Formaton à double compétence</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <table>
                    <caption>Avis formation</caption>

                    <tr>
                        <td>Formation Cobol</td>
                        <td><input type="text" name="AvisCobol" value="" /></td>

                    </tr>
                    <tr>
                        <td>Formation C#</td>
                        <td><input type="text" name="AvisCS" value="" /></td>
                    </tr>

                </table>

                <input type="submit" value="Valider" />

            
        </section>


    </body>

</html>